<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ashling.riscfree.debug.opxd.launchConfigurationType">
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.comrvDebugging" value="false"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.core.attachMode" value="false"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.core.codeCoverage" value="false"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.coreNumber" value="0"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.deviceName" value="1880013 (Opella-XD R3)"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.core.isCustomRTOS" value="false"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.core.isRTOSDebug" value="false"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.jtagFrequency" value="1"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.probeType" value="1"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.rtosScriptLocation" value=""/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.rtosType" value="FreeRTOS"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.rtosVersion" value="10.2.1"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.tapNumber" value="1"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.targetDevice" value="SiFive-E"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.targetRegFile" value="regs/gdb_reg_riscv_rv32.xml"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.core.targetReset" value="false"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.core.transportType" value="JTAG"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.doContinue" value="true"/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.gdbClientOtherCommands" value=""/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.gdbClientOtherOptions" value=""/>
    <stringAttribute key="com.ashling.riscfree.debug.opxd.otherRunCommands" value=""/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.tapReset" value="false"/>
    <booleanAttribute key="com.ashling.riscfree.debug.opxd.targetStatus" value="false"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.svdPath" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="Opella-XD"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="2331"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.threadNumber" value="0"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${eclipse_home}/../toolchain/riscv64-unknown-elf/bin/riscv64-unknown-elf-gdb"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="true"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/sifive_sum.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="sifive_sum"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="ilg.gnumcueclipse.managedbuild.cross.riscv.config.elf.debug.1844100135"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/sifive_sum"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
